/* .Acpp {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.Calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.Calc button {
  height: 60px;
  width: 70px;
  margin: 1px;
  font-size: 15pt;

}
.linha1 {
  grid-row: 1/2;
  background-color: #d7dadf;
  width: 281px;
  height: 80px;
  padding: 1px;
  padding-right: 6px;
  margin: 1px;
  font-size: 16pt;
  text-align: right;  
}

.linha2 {
  grid-row: 2/3;
}

.linha3 {
  grid-row: 3/4;
}

.linha4 {
  grid-row: 4/5;
}

.linha5 {
  grid-row: 5/6;
}

.linha6 {
  grid-row: 6/7;
}

.linha7 {
  grid-row: 7/8; 
}

.linha7 button{
  width: 286px;
}


